:root {
    --bg-color: #011;
    --text-color: #fff;
    --table-border: #0ff;
    --table-header-bg-color: #022;
            --table-row-bg-color: #201;
            --table-row-hover-bg-color: #401;
            --total-length-text-color: #0FF;
            --input-bg: #111;
    --highlight: #0ff;
    
    /* Accordion Variables */
    --question-bg-color: #022;
    --question-border-color: #099;
    --question-hover-bg-color: #033;
    --answer-bg-color: #000;
    --border-radius: 8px;
    --accordion-spacing: 10px;
    --panel-bg-color: #201;
    --capacity-ok: #4F4;
    --capacity-over: #F44;

    /* Button Variables */
    --button-text-color: #FFF;
    --button-bg-color: #033;
    --button-svg-color: #0FF;
    --button-border-color: #0FF;
    --button-hover-bg-color: #066;

    /* Input Variables */
    --input-text-color: #FFF;
    --input-bg-color: #011;
    --input-border-color: #0FF;
    --input-placeholder-text-color: #999;

    /* Safety Result Colors */
    --safety-excellent: #4AF;
    --safety-safe: #4F4;
    --safety-warning: #FA0;
    --safety-danger: #F44;
}
